In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.read.json('people.json')
df.show()

+---------------+--------------------+-------------------+--------------------+-----------------+--------------------+--------------------+
|_corrupt_record|                city|         creditcard|               email|              mac|                name|           timestamp|
+---------------+--------------------+-------------------+--------------------+-----------------+--------------------+--------------------+
|              [|                NULL|               NULL|                NULL|             NULL|                NULL|                NULL|
|           NULL|     Lake Gladysberg|1228-1221-1221-1431|katlyn@jenkinsmag...|08:fd:0b:cd:77:f7|        Keeley Bosco|2015-04-25 13:57:...|
|           NULL|                NULL|1228-1221-1221-1431|juvenal@johnston....|90:4d:fa:42:63:a2|         Rubye Jerde|2015-04-25 09:02:...|
|           NULL|                NULL|               NULL|                NULL|f9:0e:d3:40:cb:e9|Miss Darian Breit...|2015-04-25 13:16:...|
|           NULL|                NULL|1228-1221-1221-1431|emery_kunze@rogah...|3a:af:c9:0b:5c:08|    Celine Ankunding|2015-04-25 14:22:...|
|           NULL|         Yvettemouth|1211-1221-1234-2201|mavis_lehner@jaco...|9e:ea:28:41:2a:50|    Dr. Araceli Lang|2015-04-25 21:02:...|
|           NULL|                NULL|               NULL|                NULL|2d:e4:f0:dd:90:96|         Esteban Von|2015-04-25 21:47:...|
|           NULL|                NULL|               NULL|gielle_jacobs@fla...|29:e0:54:7a:b7:ca|      Everette Swift|2015-04-25 01:42:...|
|           NULL|     Port Reaganfort|1228-1221-1221-1431|augustine.conroy@...|c5:32:09:5a:f7:15|       Terrell Boyle|2015-04-25 23:03:...|
|           NULL|          Kaleyhaven|               NULL|                NULL|be:dc:d2:57:81:8b|   Miss Emmie Muller|2015-04-25 15:48:...|
|           NULL|      Port Reneeside|1234-2121-1221-1211|                NULL|9c:63:13:31:c4:ac|        Libby Renner|2015-04-25 08:21:...|
|           NULL|                NULL|               NULL|                NULL|f9:8a:01:69:aa:63|        Kris Spencer|2015-04-25 18:49:...|
|           NULL|                NULL|               NULL|prince@rosenbaum....|fd:b7:2a:2e:97:8f|   Terrance Schiller|2015-04-25 02:25:...|
|           NULL|         South Pearl|1234-2121-1221-1211|sigurd.hudson@hod...|1e:44:17:8c:c6:d8|   Alessandro Barton|2015-04-25 11:21:...|
|           NULL|                NULL|1211-1221-1234-2201|   monica@abbott.org|bf:2a:a2:75:a4:38|      Dr. Art Grimes|2015-04-25 22:51:...|
|           NULL|Port Marjolaineshire|1211-1221-1234-2201|carter_zboncak@sc...|cd:a7:57:c0:03:50|         Keven Purdy|2015-04-25 10:13:...|
|           NULL|          Rogelioton|               NULL|     adonis@dach.net|9a:6e:08:fe:8d:41|  William Wisozk DVM|2015-04-25 20:57:...|
|           NULL|       South Chelsie|1212-1221-1121-1234|laurianne_goldner...|9e:60:32:9f:88:9d|           Oma Grady|2015-04-25 04:08:...|
|           NULL|         Marvinville|               NULL|blanca_smitham@pf...|f0:45:37:1b:d8:19|   Annie Schamberger|2015-04-25 10:28:...|
|           NULL|                NULL|1211-1221-1234-2201|mittie.ullrich@bo...|13:36:6a:b4:2d:07|      Jazmin Kovacek|2015-04-25 19:20:...|
+---------------+--------------------+-------------------+--------------------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [5]:
import pandas as pd
pd.read_json('people.json')

,name,email,city,mac,timestamp,creditcard
0,Keeley Bosco,katlyn@jenkinsmaggio.net,Lake Gladysberg,08:fd:0b:cd:77:f7,2015-04-25 13:57:36+07:00,1228-1221-1221-1431
1,Rubye Jerde,juvenal@johnston.name,None,90:4d:fa:42:63:a2,2015-04-25 09:02:04+07:00,1228-1221-1221-1431
2,Miss Darian Breitenberg,None,None,f9:0e:d3:40:cb:e9,2015-04-25 13:16:03+07:00,None
3,Celine Ankunding,emery_kunze@rogahn.net,None,3a:af:c9:0b:5c:08,2015-04-25 14:22:22+07:00,1228-1221-1221-1431
4,Dr. Araceli Lang,mavis_lehner@jacobi.name,Yvettemouth,9e:ea:28:41:2a:50,2015-04-25 21:02:11+07:00,1211-1221-1234-2201
...,...,...,...,...,...,...
9995,Jaqueline Walter I,payton@glover.biz,None,94:45:e0:51:36:7f,2015-04-25 15:21:00+07:00,None
9996,Isobel Reinger,deven@leuschke.org,None,65:70:d3:6d:7c:f1,2015-04-25 16:29:09+07:00,1228-1221-1221-1431
9997,Chelsea Shields,None,None,44:1b:7d:5e:c4:da,2015-04-25 15:46:44+07:00,1211-1221-1234-2201
9998,Luciano Gutmann,lindsey_kuvalis@lesch.name,None,c3:03:c2:65:13:fa,2015-04-25 08:37:19+07:00,1234-2121-1221-1211
9999,Austin Langworth,alexys@wilkinsongrady.com,None,f5:43:f0:3f:8c:36,2015-04-25 12:58:27+07:00,1212-1221-1121-1234

In [6]:
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType, DateType, StructType

In [7]:
data_schema = [StructField("name", StringType(), True), StructField("timestamp", DateType(), True)]

In [8]:
data_struct = StructType(fields = data_schema)

In [9]:
new_df = spark.read.json('people.json', schema = data_struct)

In [10]:
new_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- timestamp: date (nullable = true)

In [15]:
df.write.mode("overwrite").csv("people.csv")

In [4]:
spark2 = SparkSession.builder.getOrCreate()
values = [('A', 10), ('B', 30), ('C', 50)]
sales = spark2.createDataFrame(values,['product', 'quantity'])
sales.show()

+-------+--------+
|product|quantity|
+-------+--------+
|      A|      10|
|      B|      30|
|      C|      50|
+-------+--------+