In [ ]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.read.csv('students.csv', inferSchema=True)

In [4]:
df.show()

+------+--------------+--------------------+------------+--------------------+----------+-------------+-------------+
|   _c0|           _c1|                 _c2|         _c3|                 _c4|       _c5|          _c6|          _c7|
+------+--------------+--------------------+------------+--------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of...|       lunch|test preparation ...|math score|reading score|writing score|
|female|       group B|   bachelor's degree|    standard|                none|        72|           72|           74|
|female|       group C|        some college|    standard|           completed|        69|           90|           88|
|female|       group B|     master's degree|    standard|                none|        90|           95|           93|
|  male|       group A|  associate's degree|free/reduced|                none|        47|           57|           44|
|  male|       group C|        some college|    standard|                none|        76|           78|           75|
|female|       group B|  associate's degree|    standard|                none|        71|           83|           78|
|female|       group B|        some college|    standard|           completed|        88|           95|           92|
|  male|       group B|        some college|free/reduced|                none|        40|           43|           39|
|  male|       group D|         high school|free/reduced|           completed|        64|           64|           67|
|female|       group B|         high school|free/reduced|                none|        38|           60|           50|
|  male|       group C|  associate's degree|    standard|                none|        58|           54|           52|
|  male|       group D|  associate's degree|    standard|                none|        40|           52|           43|
|female|       group B|         high school|    standard|                none|        65|           81|           73|
|  male|       group A|        some college|    standard|           completed|        78|           72|           70|
|female|       group A|     master's degree|    standard|                none|        50|           53|           58|
|female|       group C|    some high school|    standard|                none|        69|           75|           78|
|  male|       group C|         high school|    standard|                none|        88|           89|           86|
|female|       group B|    some high school|free/reduced|                none|        18|           32|           28|
|  male|       group C|     master's degree|free/reduced|           completed|        46|           42|           46|
+------+--------------+--------------------+------------+--------------------+----------+-------------+-------------+
only showing top 20 rows

In [12]:
#Validate datas
df.limit(5).toPandas()
print(type(df))
df_Pandas = df.toPandas()
print(type(df_Pandas))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [13]:
print(df.columns)

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6', '_c7']

In [26]:
# print(df.describe())
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

In [27]:
df.describe(['_c5']).show()

+-------+------------------+
|summary|               _c5|
+-------+------------------+
|  count|              1001|
|   mean|            66.089|
| stddev|15.163080096009454|
|    min|                 0|
|    max|        math score|
+-------+------------------+

In [35]:
df.select("_c5", "_c6", "_c7").summary("25%","50%","75%").show()

+-------+----+----+----+
|summary| _c5| _c6| _c7|
+-------+----+----+----+
|    25%|57.0|59.0|57.0|
|    50%|66.0|70.0|69.0|
|    75%|77.0|79.0|79.0|
+-------+----+----+----+